@model BookModel

@{
    ViewData["Title"] = "Books";
}

<partial name="_BookNavigation" />

<h1> @Model.Book.Name </h1>

<div class="container">
    <h3>Words in book</h3>

    @foreach (var word in Model.Book?.Words)
    {
    <div class="grid">
        <div class="row">
            <div class="col-sm-1">@word.ID</div>
            <div class="col-sm-5">
                <a class="nav-link text-dark" asp-area="" asp-controller="Entities" asp-action="Word" asp-route-id="@word.ID">@word.Text</a>
            </div>
            <div class="col-sm-6">@word.Translations?.First().Definition.Text</div>
        </div>
    </div>
    }
</div>
