@model EntityModel;

@{
    ViewData["Title"] = Model.Definition.Text;
}

<div class="container">
    <div class="text-right">
        <a class="btn btn-sm" asp-controller="Entities" asp-action="EditDefinition" asp-route-id="@Model.Definition.ID">Edit</a>
    </div>

    <div class="row">
        <div class="col">
            <h5><i>Language: @Model.Definition.Language.Name</i></h5> <br>

            <h4><b>@Model.Definition.Text</b></h4>
            <p>@Model.Definition.Description</p>
        </div>
    </div>

    @{
        var listModel = new ExpandableListModel()
        {
            Title = "List of Translations",
            Elements = Model.Definition.Translations?.Select(t => new ListElement(t.Word.Language.Name + ": " + t.Word.Text, "Word", "Entities", t.Word.ID.ToString())),
        };

        <partial name="_ExpandableListPartial" for="@listModel" />
    }
</div>
