@model EditEntityModel;

@{
    ViewData["Title"] = "Edit " + Model.WordText;
}

<script>
    window.onbeforeunload = function () {
        return true;
    };

    function disableBeforeUnload() {
        window.onbeforeunload = null;
    }
</script>

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="WordID" value="@Model.WordID" />

        <partial name="_AlertMessage" for="@Model" />

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="WordText" class="col-form-label">Word</label>
                    <span style="color: darkred" asp-validation-for="WordText"></span>
                    <input type="text" class="form-control" asp-for="WordText" />
                </div>

                <div class="col">
                    <label for="WordPronunciation" class="col-form-label">Pronunciation</label>
                    <input type="text" class="form-control" asp-for="WordPronunciation" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="WordArticle" class="col-form-label">Article</label>
                    <input type="text" class="form-control" asp-for="WordArticle" />
                </div>

                <div class="col">
                    <label for="WordAlternateSpelling" class="col-form-label">Alternate Spelling</label>
                    <input type="text" class="form-control" asp-for="WordAlternateSpelling" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="WordDescription" class="col-form-label">Word Definition</label>
                    <textarea class="form-control auto-size" asp-for="WordDescription"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="LanguageID">Word Language</label>
                <select class="custom-select" asp-for="WordLanguageID" asp-items="@Model.AvailableLanguages.SelectListItems()"></select>
            </div>
        </div>

        @* Add or Create new word buttons with dropdown *@

        @{
            var dropdownModel = new SearcheableDropdownModel()
            {
                IsSubmit = true,
                Text = "Link to existing Word",
                AdditionalClasses = "btn btn-light text-center",
                AspController = "Entities",
                AspAction = "AddTranslationToWord",
                Elements = Model.WordsToLink.Select(t => new ListElement(t.Text, "", "", t.ID.ToString())),
            };
        }

        @* List of explanations *@

        <div class="form-group row">
            <div class="col">
                <partial name="_SearcheableDropdown" model="dropdownModel" />
            </div>

            <div class="col">
                <a class="btn btn-light text-center" asp-controller="Entities" asp-action="Word" asp-route-id="@Model.WordID">Create New Translation</a>
            </div>
        </div>

        @* Expandable List of Words *@

        @{
            var listModel = new ExpandableEditListModel()
            {
                Title = "List of Translations",
                Expanded = Model.ExpandTranslationList,
                Elements = Model.Translations?.Select(t => new ListElement(t.LangName + ": " + t.Text, "", "", t.ID.ToString())),
                AspRoute = Model.WordID.ToString(),
                AspController = "Entities",
                AspAction = "RemoveTranslationFromWord",
            };

            <div class="form-group">
                <partial name="_ExpandableEditListPartial" for="@listModel" />
            </div>
        }


        @* Update, Delete, Cancel Buttons *@

        <div class="form-group row">
            <div class="col">
                <button onclick="disableBeforeUnload()" type="submit" class="btn btn-success" asp-controller="Entities" asp-action="UpdateWord">Update</button>
                <a class="btn btn-sm btn-secondary" asp-controller="Entities" asp-action="Word" asp-route-id="@Model.WordID">Cancel</a>
            </div>

            <div class="col text-right">
                <button onclick="disableBeforeUnload()" type="submit" class="btn btn-danger btn-sm" asp-controller="Entities" asp-action="DeleteWord">Delete</button>
            </div>
        </div>
    </form>
</div>
