@model EditEntityModel;

@{
    ViewData["Title"] = "Edit " + Model.Word.Text;
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="Word.ID" value="@Model.Word.ID" />

        <partial name="_AlertMessage" for="@Model" />

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="Word_Text" class="col-form-label">Word</label>
                    <span style="color: darkred" asp-validation-for="Word.Text"></span>
                    <input type="text" class="form-control" asp-for="Word.Text" />
                </div>

                <div class="col">
                    <label for="Word_Pronunciation" class="col-form-label">Pronunciation</label>
                    <input type="text" class="form-control" asp-for="Word.Pronunciation" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="Word_Article" class="col-form-label">Article</label>
                    <input type="text" class="form-control" asp-for="Word.Article" />
                </div>

                <div class="col">
                    <label for="Word_AlternateSpelling" class="col-form-label">Alternate Spelling</label>
                    <input type="text" class="form-control" asp-for="Word.AlternateSpelling" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="LanguageID">Word Language</label>
                <select class="custom-select" asp-for="LanguageID" asp-items="@Model.AvailableLanguages.SelectListItems()"></select>
            </div>
        </div>

        @* Add or Create new definition buttons with dropdown *@

        @{
            var dropdownModel = new SearcheableDropdownModel()
            {
                IsSubmit = true,
                Text = "Link Existing Definition",
                AdditionalClasses = "btn btn-light text-center",
                AspController = "Entities",
                AspAction = "AddTranslationToWord",
                Elements = Model.Definitions.Select(d => new ListElement(d.Text, "", "", d.ID.ToString())),
            };
        }

        <div class="form-group row">
            <div class="col">
                <partial name="_SearcheableDropdown" model="dropdownModel" />
            </div>

            <div class="col">
                <a class="btn btn-light text-center" asp-controller="Entities" asp-action="Word" asp-route-id="@Model.Word.ID">Create New Translation</a>
            </div>
        </div>

        @* Expandable List of Definitions *@

        @{
            var listModel = new ExpandableEditListModel()
            {
                Title = "List of Translations",
                Expanded = Model.ExpandTranslationList,
                Elements = Model.Word.Translations?.Select(t => new ListElement(t.Definition.Language.Name + ": " + t.Definition.Text, "", "", t.ID.ToString())),
                AspRoute = Model.Word.ID.ToString(),
                AspController = "Entities",
                AspAction = "RemoveTranslationFromWord",
            };

            <div class="form-group">
                <partial name="_ExpandableEditListPartial" for="@listModel" />
            </div>
        }


        @* Update, Delete, Cancel Buttons *@

        <div class="form-group row">
            <div class="col">
                <button onclick="disableBeforeUnload()" type="submit" class="btn btn-success" asp-controller="Entities" asp-action="UpdateWord">Update</button>
                <a class="btn btn-sm btn-secondary" asp-controller="Entities" asp-action="Word" asp-route-id="@Model.Word.ID">Cancel</a>
            </div>

            <div class="col text-right">
                <button onclick="disableBeforeUnload()" type="submit" class="btn btn-danger btn-sm" asp-controller="Entities" asp-action="DeleteWord">Delete</button>
            </div>
        </div>
    </form>
</div>
