@model EntityModel;

@{
    ViewData["Title"] = Model.WordText;
}

<div class="container">
    <partial name="_AlertMessage" for="@Model" />

    <div class="text-right">
        <a class="btn btn-sm" asp-controller="Entities" asp-action="EditWord" asp-route-id="@Model.WordID">Edit</a>
    </div>

    <div class="row">
        <div class="col">
            <h5><i>Word Language: @Model.WordLanguage</i></h5> <br>

            @{
                var alternateSpelling = string.IsNullOrEmpty(Model.WordAlternateSpelling) ? "" : $"({Model.WordAlternateSpelling})";
                var pronunciationText = string.IsNullOrEmpty(Model.WordPronunciation) ? "" : $"({Model.WordPronunciation})";
            }
            <h3><b>@Model.WordArticle @Model.WordText</b> <text class="small"><b>@alternateSpelling</b><i>@pronunciationText</i></text></h3>
            <p>@Model.WordDescription</p>

            <hr>

            @if (!string.IsNullOrEmpty(Model.TranslationText))
            {
                <p style="font-size: large; font-weight: bold">@Model.TranslationText</p>
                <p>@Model.TranslationDescription</p>
            }
            else
            {
                <p>This word is not translated to your native or secondary languages.</p>
            }

            <hr>

            <ul class="list-group list-group-flush">
                @foreach (var (langName, explanationText) in Model.Explanations)
                {
                    <li class="list-group-item">
                        @langName: @explanationText
                    </li>
                }
            </ul>

            <br>
        </div>
    </div>


    @{
        var listModel = new ExpandableListModel()
        {
            Title = "List of Translations",
            Elements = Model.Translations?.Select(t => new ListElement(t.LangName + ": " + t.Text, "Word", "Entities", t.ID)),
        };

        <partial name="_ExpandableListPartial" for="@listModel" />
    }

    <hr>
    <div class="row col">

        <p>
            @* Show which books this word is added to *@
            Word is added to these books:
            <span> | </span>
            @foreach (var b in Model.AddedToBooks)
            {
                <a class="badge text-monospace" style="color: black; background-color: antiquewhite" asp-controller="Books" asp-action="Book" asp-route-id="@b.ID">@b.Name</a>
                <span> | </span>
            }
        </p>
    </div>

    <div class="row col">
        @{
            var dropdownModel = new SearcheableDropdownModel()
            {
                IsSubmit = false,
                Text = "Add to Book",
                AdditionalClasses = "btn btn-light text-center",
                AspController = "Entities",
                AspAction = "AddToBook",
                Elements = Model.BooksToAddWordTo.Select(t => new ListElement(t.Name, "", "", t.ID)),
                AdditionalRoutingValues = bookId => new { wordId = Model.WordID, bookId = bookId },
            };

            <partial name="_SearcheableDropdown" model="dropdownModel" />
        }
    </div>
</div>
