@model EntityModel;

@{
    ViewData["Title"] = Model.Word.Text;
}

<div class="container">
    <div class="text-right">
        <a class="btn btn-sm" asp-controller="Entities" asp-action="EditWord" asp-route-id="@Model.Word.ID">Edit</a>
    </div>

    <div class="row">
        <div class="col">
            <text>
                @{
                    var wordName = $"<b>{Model.Word.Article} {Model.Word.Text}</b>";
                    var alternateSpelling = string.IsNullOrEmpty(Model.Word.AlternateSpelling) ? "" : $"({Model.Word.AlternateSpelling})";
                    var pronunciationText = string.IsNullOrEmpty(Model.Word.Pronunciation) ? "" : $"({Model.Word.Pronunciation})";
                    var translation = Model.Word.Translations?.FirstOrDefault(t => t.Definition.Language.ID == Model.PreferredDefaultLanguage.ID);
                }
                <h3>@Html.Raw(wordName) <text class="small"><i><b>@Html.Raw(alternateSpelling)</b>@Html.Raw(pronunciationText)</i></text></h3>

                @if (translation != default)
                {
                    <h4>@Html.Raw(translation.Definition.Text)</h4>
                    <p>@Html.Raw(translation.Definition.Description)</p>
                }
                else
                {
                    @: No translations for this word were found.
                }
            </text>
        </div>
    </div>


    @{
        var listModel = new ExpandableListModel()
        {
            Title = "List of Translations",
            Elements = Model.Word.Translations.Select(t => t.Definition.Language.Name + ": " + t.Definition.Text),
        };

        <partial name="_ExpandableListPartial" for="@listModel" />
    }
</div>
