@model EntityModel;

@{
    ViewData["Title"] = Model.Word.Text;
}

<div class="container">
    <div class="text-right">
        <a class="btn btn-sm" asp-controller="Entities" asp-action="EditWord" asp-route-id="@Model.Word.ID">Edit</a>
    </div>

    <div class="row">
        <div class="col">
            <h5><i>Word Language: @Model.Word.Language.Name</i></h5> <br>

                @{
                    var alternateSpelling = string.IsNullOrEmpty(Model.Word.AlternateSpelling) ? "" : $"({Model.Word.AlternateSpelling})";
                    var pronunciationText = string.IsNullOrEmpty(Model.Word.Pronunciation) ? "" : $"({Model.Word.Pronunciation})";
                    var translation = Model.Word[Model.PreferredDefaultLanguage];
                }
                <h3><b>@Model.Word.Article @Model.Word.Text</b> <text class="small"><b>@alternateSpelling</b><i>@pronunciationText</i></text></h3>

                @if (translation != default)
                {
                    <h4>@translation.Text</h4><br>
                    <p>@translation.Definition?.Description</p>
                }
                else
                {
                    @: No translations for this word were found.
                }

            <br>
        </div>
    </div>


    @{
        var listModel = new ExpandableListModel()
        {
            Title = "List of Translations",
            Elements = Model.Word.Translations?.Select(t => new ListElement(t.Language.Name + ": " + t.Text, "Word", "Entities", t.ID.ToString())),
        };

        <partial name="_ExpandableListPartial" for="@listModel" />
    }
</div>
