@model ExpandableListModel;

@{
    var listElementCount = Model.Elements != null ? Model.Elements.Count() : 0;
    var isListEmpty = listElementCount <= 0;
    var listTitle = isListEmpty ? Model.Title + " (Empty)" : $"{Model.Title} ({listElementCount})";
}

<div class="row">
    <div class="col">
        <div class="list-group list-group-item-action">
            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#translation-list">@listTitle </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="container">

            @{ var showClass = @Model.Expanded ? "show" : ""; }
            <div id="translation-list" class="collapse @showClass">
                <div class="list-group list-group-item-action">
                    @if (!isListEmpty)
                    {
                        @foreach (var e in Model.Elements)
                        {
                            @if (e.HasLinkAction)
                            {
                                //@Html.ActionLink(e.Text, e.AspAction, e.AspController, e.AspRoute);
                                <a asp-controller="@e.AspController" asp-action="@e.AspAction" asp-route-id="@e.ID" class="list-group-item list-group-item-action">@e.Text</a>
                            }
                            else
                            {
                                <a href="#" class="list-group-item list-group-item-action">@e.Text</a>
                            }
                        }
                    }
                    else
                    {
                        <a href="#" class="list-group-item list-group-item-action">Empty list</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
