@model ExpandableEditListModel;

<div class="row">
    <div class="col">
        <div class="list-group list-group-item-action">
            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#translation-list">@Model.Title </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="container">
            <div id="translation-list" class="collapse">
                <div class="list-group list-group-item-action">
                    @if (Model.Elements != null && Model.Elements.Count() > 0)
                    {
                        @foreach (var e in Model.Elements)
                        {
                            <div class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col">@e.Text</div>
                                    <div class="col text-right">
                                        <a asp-controller="@e.AspController" asp-action="@e.AspAction" asp-route-id="@e.AspRoute" class="btn btn-sm btn-danger">X</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <a href="#" class="list-group-item list-group-item-action">Empty list</a>
                    }

                    <div class="list-group-item"></div>
                    <a asp-controller="@Model.ControllerForAddingElements" asp-action="@Model.AspActionAddition" asp-route-id="@Model.AspRoute" class="text-center list-group-item list-group-item-action"><b>&lt;Add existing Translation&gt;</b></a>
                    <a asp-controller="@Model.ControllerForAddingElements" asp-action="@Model.AspActionCreation" asp-route-id="@Model.AspRoute" class="text-center list-group-item list-group-item-action"><b>&lt;Create new Translation&gt;</b></a>

                    <div class="text-center list-group-item list-group-item-action dropdown dropdown-toggle searcheable-dropdown"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                            <input type="text" autocomplete="new-password" placeholder="Search..">

                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
