@model SearcheableDropdownModel

@{
    var divClass = "dropdown dropdown-toggle searcheable-dropdown " + Model.AdditionalClasses;
}

<div class="dropdown">
    <div class="@divClass" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Text
    </div>

    <div class="dropdown-menu text-center dropdown-menu-center" aria-labelledby="dropdownMenuButton">
        <input type="text" autocomplete="new-password" placeholder="Search..">

        @foreach (var e in Model.Elements)
        {
            var ctrl = e.OverridesController ? e.AspController : Model.AspController;
            var ac = e.OverridesAction ? e.AspAction : Model.AspAction;

            <button onclick="disableBeforeUnload()" type="submit" asp-controller="@ctrl" asp-action="@ac" asp-route-id="@e.AspRoute" class="dropdown-item">@e.Text</button>
        }
    </div>
</div>